{{- if eq .preset "work-pc-arch" }}
pacman:
  - accountsservice
  - alacritty
  - base
  - base-devel
  - bash-completion
  - dolphin
  - fastfetch
  - feh
  - firefox
  - fuzzel
  - fzf
  - git
  - gnome-keyring
  - gparted
  - greetd
  - imv
  - kitty
  - libnotify
  - lsb-release
  - mako
  - man-db
  - man-pages
  - nautilus
  - network-manager-applet
  - networkmanager
  - networkmanager-openconnect
  - ninja
  - niri
  - noctalia
  - noto-fonts
  - noto-fonts-emoji
  - nvm
  - openconnect
  - openssh
  - pipewire
  - polkit-gnome
  - python-pip
  - python-yaml
  - qt6-multimedia-ffmpeg
  - qt6-wayland
  - seahorse
  - sof-firmware
  - sudo
  - swayidle
  - texinfo
  - tldr
  - traceroute
  - tree
  - ttf-noto-nerd
  - unzip
  - usbutils
  - vim
  - wev
  - xdg-desktop-portal-gtk
  - zoxide
yay:
  - wlogout
  - swaylock-effects
{{- end }}

# vim: ft=yaml
