.groups:
  essential: &groups.essential
    - lsb-release
    - git
    - vim
    - wget
  drivers: &groups.drivers
    - sof-firmware
  system: &groups.system
    - networkmanager
    - usbutils
  dev: &groups.dev
    - base-devel
    - clang
    - cmake
    - ninja
    - python-pip
    - python-yaml
    - nvm
  cli: &groups.cli
    - neovim
    - yay:ack
    - bash-completion
    - curl
    - rsync
    - git-lfs
    - ncdu
    - nmon
    - fzf
    - tldr
    - tmux
    - fastfetch
    - zoxide
    - unzip
    - tree
    - texinfo
    - traceroute
    - openssh
    - man-db
    - man-pages
  cliExtra: &groups.cli-extra
    - pass
  guiShell: &groups.gui-shell
    - niri
    - noctalia
    - greetd
    - swayidle
    - mako
    - noto-fonts
    - noto-fonts-emoji
    - ttf-noto-nerd
    - brightnessctl
    - playerctl
    - pipewire
    - polkit-gnome
    - qt6-multimedia-ffmpeg
    - qt6-wayland
    - fuzzel
    - libnotify
    - xdg-desktop-portal-gtk
    - yay:wlogout
    - yay:swaylock-effects
    - yay:noctalia-greeter
  guiTools: &groups.gui-tools
    - alacritty
    - kitty
    - dolphin
    - nautilus
    - sushi
    - gparted
    - imv
    - wev
    - firefox
    - seahorse
    - gnome-keyring
  guiToolsExtra: &groups.gui-tools-extra
    - vlc
    - libreoffice-still
    - hunspell
    - hunspell-en_us
    - hunspell-ru
  openconnect: &groups.openconnect
    - network-manager-applet
    - networkmanager-openconnect
    - openconnect

{{- if eq .preset "work-pc-arch" }}
pacman:
  - *groups.essential
  - *groups.drivers
  - *groups.system
  - *groups.dev
  - *groups.cli
  - *groups.cli-extra
  - *groups.gui-shell
  - *groups.gui-tools
  - *groups.gui-tools-extra
  - *groups.openconnect
{{- end }}

# vim: ft=yaml
